<div class="title">Knowledge Base Help</div>

<p>
	Having problems? Use the box below to search help topics.
	
	<% form_tag :controller => 'help', :action => 'search' do %>
		<p style="padding: 10px 0;text-align: center">
			<%= text_field_tag :search, nil, :style => 'width:180px;'%>
			<%= submit_tag 'Search Help' %>
		</p>
	<% end %>
	
</p>