<p>
  You can be notified when a study is changed in some way. For this to happen, you need to be watching a study.
</p>

<h3>Watching:</h3>

<p>
  To watch a study, you would first navigate to the study, and then click the above link, which will appear in the menu on the right. <em>(You'll need to be logged in to see it.)</em> You will then receive notifications whenever that study is updated.
</p>
<p style="text-align:center">
  <%= image_tag 'help/watching_a_study.png' %>
</p>

<h3>Keeping track of notifications:</h3>

<p>  
  You can keep track of your notifications using the menu tab at the top - the number of unread notifications you have waiting is displayed there:
</p>
<p style="text-align:center">
  <%= image_tag 'help/notification_tab.png' %>
</p>

<h3>Managing notifications:</h3>

<p>  
  When you find yourself with too many notifications, you can choose to delete old ones; you can either delete <strong>all</strong> your notification, or just those which you've already read. (A notification is automatically marked as read when you follow it up.)
</p>

<p style="text-align:center">
  <strong>And that's all there is to it!</strong>
</p>
