<div class="title">Publishing events</div>

<p>If you check the box to publish an event, anyone who is watching the study you're updating will receive a notification informing them of the change.</p>
 <p>The default is for an event to be created, but you probably don't want to if you're just fixing a grammatical error, for example.</p>