log/*.log
.DS_Store
tmp/**/*
*/.DS_Store
coverage/*
public/avatars/**/*
public/documents/**/*
public/system/**/*
public/study_downloads/**/*
public/images/icons/*
vendor/rails/*
db/sphinx/development/**/*