/*******ELEMENTS BY TAG********/

body, html {
	text-align: center;
	min-width: 550px;
}

html {
	background: transparent url(/images/bg.png) repeat top center;
	min-height: 500px;
}

body {
	padding-top: 100px;
	background: transparent url(/images/logo_watermarked.png) no-repeat top center;
}

h1 {
	text-align: center;
}

/*******STRUCTURAL ELEMENTS********/
#content {
	background: #FFF;
	border: 5px solid #618F99;
	-webkit-border-radius: 20px;
  -moz-border-radius: 20px;
	width: 400px;
	margin: 0 auto;
	padding: 10px 40px 20px;
	text-align: left;
}

/*********** FORMS ************/

form p {
	margin: 6px auto;
}

form input {
	padding: 3px 5px;
	font-size: 1.2em;
}

form input[type=text],
form input[type=password] {
	width: 96%;
}

form input[type=submit] {
	border-style: solid;
	border-width: 1px;
	border-color: #AAA;
	padding: 5px 15px;
	background-color: #E5E5E5;
}

form input[type=submit]:hover {
	border-color: #A1C4E1;
	background-color: #E5F3FF;
}

/******** OTHER ELEMENTS ID*********/
