/*******ELEMENTS BY TAG********/

body, html {
	text-align: center;
	min-width: 550px;
	background: transparent;
}

html {
	background: url(/images/bg.png) repeat bottom right;
}

h1 {
	text-align: center;
}

/*******STRUCTURAL ELEMENTS********/
#content {
	background: #F3FDE3;
	border: 5px solid #618F99;
	-webkit-border-radius: 20px;
  -moz-border-radius: 20px;
	width: 400px;
	margin: 75px auto 0;
	padding: 10px 40px 20px;
	text-align: left;
}

/*********** FORMS ************/

form p {
	margin: 6px auto;
}

form input {
	padding: 3px 5px;
	font-size: 1.2em;
}

form input[type=text],
form input[type=password] {
	width: 96%;
}

form input[type=submit] {
	border-style: solid;
	border-width: 1px;
	border-color: #AAA;
	padding: 5px 15px;
	background-color: #E5E5E5;
}

form input[type=submit]:hover {
	border-color: #A1C4E1;
	background-color: #E5F3FF;
}

/******** OTHER ELEMENTS ID*********/

#logo {
	position: absolute;
	bottom: 0%;
	right: 0%;
	opacity: 0.25;
	z-index: -1;
	background: transparent url(/images/logo.png) no-repeat;
	width: 193px;
	height: 97px;
}