/*******ELEMENTS BY TAG********/

body, html {
	text-align: center;
	min-width: 550px;
	
}

body {
	padding-top: 40px;
}

h1 {
	color: #AAA;
	margin-bottom: 20px;
	text-align: center;
}

h5 {
	color: #FFF;
	padding: 10px 22px;
	background-color: #416F1A;
	-webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
	-webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}

/*******STRUCTURAL ELEMENTS********/
#content {
	background: #FFF;
	border: 2px solid #D6D6D6;
	-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
	width: 500px;
	margin: 0 auto;
	text-align: left;
}

.padded {
	padding: 10px 40px 20px;
}

/*********** FORMS ************/

form p {
	margin: 6px auto;
}

form input {
	padding: 3px 5px;
	font-size: 1.2em;
}

form input[type=text],
form input[type=password] {
	width: 96%;
}

form input[type=submit] {
	border-style: solid;
	border-width: 1px;
	border-color: #AAA;
	padding: 5px 15px;
	background-color: #E5E5E5;
}

form input[type=submit]:hover {
/*	border-color: #A1C4E1;
	background-color: #E5F3FF;*/
	border-color: #ACE562;
	background-color: #E0FDD4;
}

/******** OTHER ELEMENTS ID*********/
