/************** ELEMENTS BY TAG **************/

* {
	margin: 0;
	padding: 0;
}

body {
	color: #333;
	background: #3A3A3A url(/images/gradient.png) repeat-x;
	min-width: 1024px;
	max-width: 1920px;
}

body, textarea {
	font-family: Arial, "MS Trebuchet", sans-serif;
}

ul {
	list-style-type: none;
}

a {
	outline: none;
	color: #222;
}

a:hover {
	color: #1F3209;
}

a img {
	border: 0;
}

label {
	display: block;
}

/************** GENERIC STYLES **************/

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

.to_right {
	text-align: right;
}

.col {
	width: 40%;
}

.small_col {
	width: 30%;
}

.large_col {
	width: 65%;
}

.clear {
	clear: both;
	display: block;
}

.inline {
	display: inline;
}

.push {
	height: 4em; /* footer height */
	padding-bottom: 1em; /* footer separation */
}

.ride_up {
	position: relative;
	top: -5px;
}

.ride_down {
	position: relative;
	top: 3px;
}

.ride_left {
	position: relative;
	left: -7px;
}

.ride_right {
	position: relative;
	left: 7px;
}

.spacer {
	margin: 15px auto;
}

.small_spacer {
	margin: 5px auto;
}

.icon {
	height: 12px;
	width: 12px;
	position: relative;
	top: 1px;
}

.small {
	font-size: 0.8em;
}

.note {
	padding: 0 5px;
	font-family: "MS Trebuchet", sans-serif;
	font-size: 0.8em;
}

.note a {
	font-weight: bold;
}

ul.indented {
	list-style-position: inside;
	padding-top: 3px;
	padding-bottom: 3px;
}

.padded_contents > * {
	margin: 20px 10px;
}

img.bordered {
	border: 1px solid #BBB;
	background-color: #F1F8FE;
}

img.bordered_tiny {
	padding: 2px;
	border: 1px solid #BBB;
	background-color: #F1F8FE;
}

img.bordered_minute {
	border: 1px solid #DDD;
}

/************** FORM ELEMENTS **************/

.error_description {
	color: #FF8065;
}

.field_with_errors input,
.field_with_errors textarea {
	background-color: #FCFFE7;
}

form p {
	margin: 6px auto;
}

form p.button {
	padding-top: 10px; 
}

input {
	padding: 3px;
}

input[type=file] {
	width: 200px;
}

input[type=checkbox] {
	vertical-align: middle;
/*	position: relative;
	top: 0.25em;
	left: 0.1em;*/
}

input[type=text],
input[type=password],
textarea {
	border: 1px solid #999;
	width: 99%;
	-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

textarea {
	padding: 5px 3px;
	font-size: 1.1em;
	height: 100px;
}

form.bold input[type=text],
form.bold input[type=password], 
input[type=text].bold,
input[type=password].bold {
	font-size: 1.3em;
}