/************** ELEMENTS BY TAG **************/

* {
	margin: 0;
	padding: 0;
}

body {
	color: #222;
	font-family: Arial, "MS Trebuchet", sans-serif;
	background-color: #DDD;
	min-width: 950px;
	max-width: 1500px;
}

a {
	outline: none;
	color: #222;
}

a:hover {
	color: #300D02;
}

a img {
	border: 0;
}

label {
	display: block;
}

/************** GENERIC STYLES **************/

.right {
	float: right;
}

.clear {
	clear: both;
	display: block;
}

.push {
	height: 4em; /* footer height */
	padding-bottom: 1em; /* footer separation */
}

.ride_up {
	position: relative;
	top: -5px;
}

.ride_down {
	position: relative;
	top: 3px;
}

.spacer {
	margin: 15px auto;
}

.icon {
	height: 12px;
	width: 12px;
	position: relative;
	top: 1px;
}

.note {
	padding: 0 5px;
	font-family: "MS Trebuchet", sans-serif;
	font-size: 0.8em;
}

.note a {
	font-weight: bold;
}

ul.indented {
	list-style-position: inside;
	padding-top: 3px;
	padding-bottom: 3px;
}

/************** FORM ELEMENTS **************/

.error_description {
	color: #FF8065;
}

.field_with_errors input,
.field_with_errors textarea {
	background-color: #FCFFE7;
}

form p {
	margin: 6px auto;
}

input {
	padding: 3px;
}

input[type=checkbox] {
	position: relative;
	top: 1px;
	left: 1px;
}

input[type=text],
input[type=password],
textarea {
	border: 1px solid #999;
	width: 99%;
}

textarea {
	padding: 5px 3px;
	font-size: 1.1em;
	height: 100px;
}

form.bold input, input.bold {
	font-size: 1.3em;
}

form.bold input[type=submit],
input[type=submit].bold {
	border-style: solid;
	border-width: 1px;
	border-color: #AAA;
	padding: 5px 15px;
	background-color: #E5E5E5;
}

form.bold input[type=submit]:hover,
input[type=submit]:hover.bold {
	border-color: #ACE562;
	background-color: #E0FDD4;
}
