#facebox .body .title {
	background: #DDD url(/images/leaves_slim.png) no-repeat top right;
	color: #444;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #CCC;
	font-size: larger;
	font-weight: bold;
}

#facebox .body p {
	margin: 5px auto;
}

#welcome_message {
	width: 500px;
}

#facebox .error {
	color: red;
}