/************* ELEMENTS BY TAG ************/
html, body {
	height: 100%;
	font-size: 13px;
}

/************** STRUCTURE ELEMENTS **************/

#header {
	background: #70BB2C;
	border-bottom: 4px solid #14388E;
	height: 100px;
	position: relative;
}

#menu {
	width: 70%;
	clear: both;
}

#menu ul {
	margin: 0px 0px 2px 10px;
}

#menu, #menu ul {
	line-height: 100%;
}

#menu li {
	float: left;
	margin-right: 6px;
}

#menu ul, #menu li {
	list-style: none;
	list-style-position: outside;
	list-style-image: none;
}

#menu a {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
	text-decoration: none;
	font-weight: bold;
	display: block;
	background-color: #14388E;
	color: #FFF;
	padding: 8px 10px;
}

#content {
	padding: 10px;
	margin: 20px 10px;
	float: left;
	width: 70%;
	background-color: #FFF;
}

#sidebar {
	padding: 10px;
	margin: 20px 0 20px 74%;
	background-color: #EEE;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
}

#site {
	height: auto !important;
	margin-bottom: -4em; /* footer height */
	min-height: 100%;
}

#footer {
	margin: 0 10px;
	padding: 1em 10px;
	width: 70%;
	height: 1em;
	background-color: #BBB;
}

#content, #footer {
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

/*********ELEMENTS BY ID*********/

#logo {
	padding: 10px 0 10px 10px;
}

#logo img {
	width: 114px;
	height: 46px;
}

#menu a {

}

#menu a:hover {

}

#menu a.current, #menu a.current:hover {

}