/************* ELEMENTS BY TAG ************/
html, body {
	height: 100%;
	font-size: 13px;
}

body {
	background-position: center 100px;
}

h2 {
	text-align: center;
	-webkit-border-radius: 2px;
  -moz-border-radius: 2px;
	padding: 10px;
	background-color: #E9E9E9;
	margin-bottom: 12px;
	
}

/************** STRUCTURE ELEMENTS **************/

#header {
	background: #70BB2C url(/images/leaves.png) no-repeat top right;
	border-top: 1px solid #333;
	border-bottom: 4px solid #00376A;
	height: 100px;
	position: relative;
}

#menu {
	width: 70%;
	margin-left: 20px;
}

#menu ul {
	margin: 0 0 1px 0;
}

#menu, #menu ul {
	line-height: 100%;
}

#menu li {
	float: left;
	margin-right: 6px;
}

li#studies_link a {
	background: #5F873B url(/images/studies.png) no-repeat 12px 8px;
}

li#people_link a {
	background: #5F873B url(/images/people.png) no-repeat 12px 8px;
}

li#notification_link {
	position: relative;
}

li#notification_link a {
	background: #5F873B url(/images/notification.png) no-repeat 12px 8px;
}

#notification_count {
	position: absolute;
	top: -0.9em;
	right: -1em;
	border: 2px solid white;
	background-color: #E00;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.2em 0.5em;
	-webkit-border-radius: 1em;
  -moz-border-radius: 1em;
	min-width: 1.2em;
	text-align: center;
	cursor: pointer;
}

#notification_count img {
	width: 1em;
	position: relative;
	top: 0.1em;
}

li#search_link a {
	background: #5F873B url(/images/search.png) no-repeat 12px 8px;
}

li#help_link a {
	background: #5F873B url(/images/help.png) no-repeat 12px 8px;
}

#menu ul, #menu li {
	list-style: none;
	list-style-position: outside;
	list-style-image: none;
}

#menu a {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
	text-decoration: none;
	text-shadow: #333 1px 1px 2px;
	font-weight: bold;
	display: block;
	background-color: #5F873B;
	border: 1px solid #5F873B;
	border-width: 1px 1px 0 1px;
	color: #FFF;
	padding: 8px 10px 8px 30px;
}

#menu a.current, #menu a:hover {
	background-color: #6C953C;
}

#content {
	margin: 20px 10px;
	background-color: #FFF;
	padding: 10px;
	float: left;
	width: 70%;
}

#content, #footer {
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}


/*********** FLASH *************/

.flash {
	margin: 2px 0;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
}

#notice.flash {
	background-color: #B4FA70;
	color: #376E0F;
	font-weight: bold;
	border-color: #4A9A15;
}

#warn.flash {
	background-color: #E56564;
	color: #FEE;
	font-weight: bold;
	border-color: #7C1817;
}

#sidebar {
	color: #444;
	padding: 20px 10px 20px 20px;
	margin: 20px 0 20px 74%;
	background-color: #EEE;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
}

#site {
	height: auto !important;
	margin-bottom: -4em; /* footer height */
	min-height: 100%;
}

#footer {
	margin: 0 10px;
	padding: 1em 10px;
	width: 70%;
	height: 1em;
	color: #999;
	background-color: #444;
}

/*********ELEMENTS BY ID*********/

#logo {
	padding: 10px 0 10px 10px;
}

#logo img {
	width: 114px;
	height: 46px;
}

#login {
	-webkit-border-radius: 3px;
  -moz-border-radius: 2px;
	background: rgba(0,0,0,0.55);
	margin: 5px 5px 0 0;
	padding: 5px 10px;
	font-size: 0.95em;
	font-variant: small-caps;
	text-align: right;
	color: #EEE;
}

#login img {
	border: 1px solid #888;
	float: right;
}

#login div {
	margin-right: 40px;
}

#login a {
	color: #EEE;
	text-decoration: none;
}

#login a:hover {
	color: #FFF;
	text-decoration: underline;
}

/****** SIDEBAR ******/

#sidebar > * {
	margin-bottom: 20px;
	padding-bottom: 5px;
}

#sidebar ul {
	list-style-type: none;
}

#sidebar h5 {
	position: relative;
	left: -5px;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: #555;
}

#sidebar li {
	font-weight: bold;
	border-top: 1px solid #CCC;
}

#sidebar li a {
	display: block;
	color: #444;
	padding: 10px 0 10px 20px;
	text-decoration: none;
} 

#sidebar li a.inline {
	display: inline;
	padding: 0;
}

#sidebar li a.active,
#sidebar li a:hover {
	background-color: #DDD;
	text-decoration: none; 
}

#sidebar li a:hover span.underline {
	text-decoration: underline;
}

#sidebar li a.in_progress {
	background-image: url(/images/spinner.gif);
	background-position: 95%;
	background-repeat: no-repeat;
}

#sidebar li a .right {
	position: relative;
	top: -1px;
	padding: 1px 8px;
	background-color: #6981E8;
	color: #EEE;
	text-align: center;
	margin-right: 10px;
	-webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}

#sidebar li a.active span.right,
#sidebar li a:hover span.right {
	background-color: #385af7;
}

.watcher_link img.avatar {
	margin-right: 0.5em;
	vertical-align: middle;
}

/********* NOTIFICATION *********/

.notification {
	border: 1px solid #DDD;
	border-left: 3px solid #DDD;
	background-color: #FAFAFA;
	padding: 10px 10px 13px 10px;
	margin-bottom: 10px;
}

.notification.read {
	opacity: 0.6;
}

.notification .title {
	font-weight: bold;
}

ul.notification_items {
	padding: 1em 1em 0 1em;
	list-style-type: none;
}

ul.notification_items li {
	padding: 5px 0 5px 20px;
	border-top: 1px solid #BBB;
}

ul.notification_items li.section {
	border-top-width: 0;
	background-color: #DDD;
	padding-left: 10px;
	font-weight: bold;
}

li.new {
	background: url(/images/icons/add.png) no-repeat 0 50%;
}

li.edited {
	background: url(/images/icons/pencil.png) no-repeat 0 50%;	
}

li.deleted {
	background: url(/images/icons/delete.png) no-repeat 0 50%;	
}

.relative {
	color: #666;
	font-style: italic;
}

a.read_link, 
a.follow_link {
	color: #FFF;
	background-color: #BBB;
	text-decoration: none;
	padding: 5px 24px 5px 24px;
	-webkit-border-radius: 3px;
  -moz-border-radius: 3px;	
	display: inline;
	font-size: 0.7em;
}

a.read_link:hover {
	background-color: #e88d33;
	color: #FFF;
}

a.follow_link:hover {
	background-color: #5748CE;
	color: #FFF;
}

a.read_link.in_progress {
	background-image: url(/images/spinner_white.gif);
	background-position: 95%;
	background-repeat: no-repeat;
}

a.read_link.in_progress:hover {
	background-image: url(/images/spinner_white_orange.gif);
}

/********* VIEWING STUDY *********/

.download_options {
	text-align: center;
}

.summary {
	border: 1px solid #DDD;
	background-color: #FCFCFC;
	margin: 5px;
	padding: 10px;
	-webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.summary p {
	padding: 5px;
}

.category {
	vertical-align: middle;
	width: 28px;
	height: 28px;
}

.footnotes {
	font-size: 0.7em;
	color: #777;
	text-align: center;
}


#attached_files {
	width: 100%;
}

#attached_files td {
	width: 50%;
}


.attached_file {
	border: 1px solid #DDD;
	background-color: #FCFCFC;
	margin: 5px;
	-webkit-border-radius: 3px;
  -moz-border-radius: 3px;
	line-height: 45px;
}

.attached_file .notes {
	width: 100%;
}

.toggle_notes_link {
	padding-right: 1em;
	color: #555;
	font-size:smaller;
}

.attached_file .file_info {
	line-height: 1.2em;
	margin-top: 1.5em
}

.attached_file .file_size {
	font-size: smaller;
	font-weight: bold;
	color: #777;
	display: block;
}

.attached_file,
.attached_file:hover {
	text-decoration: none;
}

.attached_file .thumbnail {
	padding: 5px;
	width: 45px;
	height: 45px;
	text-align: center;
	float: left;
}

.attached_file .thumbnail img {
	vertical-align: middle;
}

.attached_file .info {
	color: #888;
	position: absolute;
	bottom: 0.2em;
	width: 100%;
	left: 0;
	font-size: 0.8em;
	text-align: center;
}

/****** ADDING ATTACHMENTS: STUDY ******/

#add_attachment {
	background: url(/images/icons/attach.png) no-repeat 0px 0px;
	padding-left: 16px;
}

p.existing_attachment {
	padding: 5px;
	font-size: 0.9em;
}

.odd {
	background-color: #E5E5E5;
}

p.existing_attachment.over {
	background-color: #E7DBDB;
}

.filesize {
	color: #888;
}

/****** ADDING ATTACHMENTS: USER ******/

div.button {
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
	margin-top: 1em;
	padding: 15px 25px;
	background-color: #E0F7DB;	
}

#user_fields {
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
	padding: 15px 25px 23px 25px;
	background-color: #FCF2E6;
	margin-right: 55%;
}

#email_fields {
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
	margin-top: 1em;
	padding: 15px 25px;
	background-color: #EEFAE1;	
}

#avatar_upload_container {
	float: right;
	width: 47%;
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
	padding: 15px 25px;
	background-color: #EAF0F8;
}

#avatar_display {
	padding: 0 10px;
}

#avatar_fields a {
	line-height: 2em;
}