/************* ELEMENTS BY TAG ************/
html, body {
	height: 100%;
}

/************** STRUCTURE ELEMENTS **************/

#header {
	background-color: #AAA;
}

#content {
	padding: 10px;
	margin: 10px;
	float: left;
	width: 70%;
	background-color: #EEE;
}

#sidebar {
	margin: 10px 10px 10px 73%;
	background-color: #DDD;
}

#site {
	height: auto !important;
	margin-bottom: -2em; /* footer height */
	min-height: 100%;
}

#footer {
	height: 2em;
	background-color: #BBB;
}