<h2>Your Profile</h2>

<% form_for @user do |f| %>
	<%= f.text_field :first_name %>
	<%= f.text_field :last_name %>
	<%= f.text_field :email %>
	<p class="button"><%= f.submit 'Save my profile' %></p>
<% end %>
