<div id="welcome_message" style="display:none">
	<div class="title">Thanks for signing up!</div>
	<strong>Welcome to the NHS SDU Knowledge Base</strong>
	<p>
		The purpose of this site it to gather together a number of case studies to form a sustainability best-practice guide. Much of this site's content is user-driven, meaning that it's people like you that contribute!
	</p>
	<p>
		At some point, it would be great if you'd fill in some more details about yourself. This is to create a profile of you for other people who use the site - we will <em>never</em> share any of your details with a 3rd party, and you have the option to keep them hidden from other users too.
	</p>
	<p>
		<%= link_to "Create my profile now", edit_user_path(current_user) %>
	</p>
</div>


<script type="text/javascript">
	// setTimeout is ugly Safari hack. Positions Facebox incorrectly
	// without it. Must need a little time!
	setTimeout(function(){
		$(document).bind('reveal.facebox', function(){
			$('#welcome_message .title').effect("highlight", {}, 5000);
		}).ready(function(){jQuery.facebox({div:'#welcome_message'});});
	}, 100);
</script>