<% if @study.attached_files.any? %>
  <table id="attached_files">  
    <% @study.attached_files.in_groups_of(2).each do |pair| %>
      <tr>
        <% pair.each do |file| %>
          <td><%= render(:partial => file) unless file.nil? %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% else %>
  <strong>No files have been attached to this study.</strong>
<% end %>