  <% if @study.attached_files.any? %>
      <% @study.attached_files.each do |file| %>
        <% div_for file do %>
        
          <div class="thumbnail">
            <%= clickable_thumbnail_for file %>            
          </div>      
        
          <p><%= h file.document_file_name %>
          <%= number_to_human_size file.document_file_size, :precision => 0 %></p>
          
          <div class="clear"></div>
        <% end %>
      <% end %>
  <% else %>
    <strong>No files have been attached to this study.</strong>
  <% end %>