<div class="study">

  <div style="margin-bottom:1.5em; border-bottom: 1px solid #888">
    <%= render :partial => "header", :locals => { :study => study } %>
  </div>

  <h3>Summary:</h3>

  <div class="summary clear spacer">
    <p><%= safe_textilize study.description %></p>  
  </div>
</div>