<div class="study">

  <div id="study_header">
    <%= render :partial => "header", :locals => { :study => study } %>
  </div>

  <h3>Summary:</h3>

  <div class="summary clear spacer">
    <p><%= study.description %></p>  
  </div>
</div>