<% if logged_in? && (show_welcome_message? || true) %>
	<% require_jquery 'welcome' %>

	<div id="welcome_message" style="display:none;">
		<%= render :partial => "help/welcome" %>		
	</div>
<% end %>

<% sidebar_block('New...') do %>
  <li><%= link_to "Study", new_study_path %></li>
<% end if logged_in? %>

<%= render :partial => @studies %>