<ul>
	<% if @sidebar_actions && @sidebar_actions.any? %>
		<h5>Actions</h5>
		<% for link in @sidebar_actions %>
			<%= link %>
		<% end %>	
	<% end %>
	
	<li><a href="about:blank">Click here to do something</a></li>
	<li><a href="about:blank">A second thing on the menu</a></li>
</ul>