<div>
  <h5>About</h5>
  The SDU knowledge base is a place where information concerning environmental best practices in the NHS can be collected and discussed.
</div>

<% if @sidebar_blocks %>
  <ul>	
  <% @sidebar_blocks.each_pair do |title, contents| %>
    <h5><%= title %></h5>
    <%= contents %>
  <% end %>
  </ul>
<% end %>