<noscript>
  <div  style="color:red;margin-bottom: 20px;">
    <h5 style="color:red">You don't have JavaScript enabled</h5> 
      This site has not been written with users who have JavaScript disabled in mind. Whilst you may find some functions are still accessible to you, you are advised to enable JavaScript before continuing.
  </div>
</noscript>

<% if @sidebar_blocks %>
  <% @sidebar_blocks.each do |blk| %>
    <% tag = blk[:contents] =~ /<li/ ? :ul : :div %>
    <%= content_tag tag, "<h5>#{blk[:title]}</h5>#{blk[:contents]}", blk[:styles] %>
  <% end %>
<% end %>