<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<title>SDU Knowledgebase</title>
		
		<%= javascript_include_tag :defaults %>
		
		<%= stylesheet_link_tag 'styles.css' %>
	</head>
	
	<body>
		
		<%= render :partial => 'layouts/header' %>

		<div id="content">
			<%= yield %>
		</div>
		
		<div id="sidebar">
			Hi from sidebar
		</div>
		
		<div id="footer" class="clear">
			<!-- TODO: Style footer to float at bottom or page, subject to min-height, รก la Blog project. -->
			Hi from footer
		</div>
		
	</body>
</html>