<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

	<head>
		<title>SDU Knowledgebase</title>

		<%= javascript_include_tag %w( jquery facebox lowpro application ) %>
		<%= yield(:head) %>
		<%= stylesheet_link_tag %w( facebox common basic ) %>
	</head>
	
	<body>
		<div id="content">
			<%= yield %>
		</div>
		
	</body>
</html>