<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

	<head>
		<title>SDU Knowledgebase</title>

		<%= yield(:head) %>
		<%= stylesheet_link_tag %w( common basic ) %>
	</head>
	
	<body>		
		<div id="content">
			<h5><%= yield(:title) %></h5>
			
			<div class="padded">
				<%= yield %>
			</div>
		</div>
		
	</body>
</html>